# Clerk

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_JWT_ISSUER_DOMAIN=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Convex
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=

# R2
R2_BUCKET_NAME="logo-hub"
R2_PUBLIC_URL="https://oss.logohub.art"
NEXT_PUBLIC_R2_PUBLIC_URL="https://oss.logohub.art"
R2_ACCOUNT_ID="b5b63f63ffe82fac86c09e432972539c"
R2_ACCESS_KEY_ID="c300ea7e94ab463f13b8aad13e17e580"
R2_SECRET_ACCESS_KEY="fa6e795687a85ce4224c99f03e58955b13dfff0e028307dfe7aaafd12c85c6f2"
